.body{
    background-image: url(https://assets.foxdcg.com/dpp-uploaded/images/the-simpsons/the-simpsons_31/seriesDetail_s31.jpg?fit=inside%7C1920:1080);
    background-size: cover;
}.score-body{
    background-image: url(https://external-preview.redd.it/12eKqb17AibeR_pZcZVEWmOAZOsa63usGfVdrb1k6fc.jpg?auto=webp&s=dc439265448ed1a2714403df1c00509822b08b17);
    background-size: cover;
}
#navbar {
    background: transparent;
}

.timer{
    margin-left:150px; 
}
.container{
    background-color: #70D1FE;

    height: 400px;
    width: 400px;
    margin-left: 50px;
    border-radius: 25px;
   
}
.container h3{
    display: flex;
    justify-content: center;
    padding-top:25px;
}
.highscoreContainer{
    background-color: #70D1FE;

    height: 400px;
    width: 400px;
    margin-left: 50px;
    border-radius: 25px;
   
}