body{
    background-image: url(https://assets.foxdcg.com/dpp-uploaded/images/the-simpsons/the-simpsons_31/seriesDetail_s31.jpg?fit=inside%7C1920:1080);
    background-size: cover no-repeat;
}
.navbar {
    background-color: #53a5d8;
  
}
.nav-link{  
    color: yellow;
}
#timeLeftContainer, #codeQuizIntro, #caliQuizIntro, #questionContainer,#quizResults,#highScores {
    display: none;
}

#selectQuiz {
    max-width: 250px;
    font-size: 1.5em;
}

.choice > button {
    width: 100%;
}

.choice {
    margin: 0.5em 0;
    position:relative
}

.choice .btn-success:before {
    font-family: "FontAwesome";
    content: "\f00c";
    position: absolute;
    left: 25px;
}

.choice .btn-danger:before {
    font-family: "FontAwesome";
    content: "\f00d";
    position: absolute;
    left: 25px;
}

#timeLeftContainer {
    font-weight: 700;
    font-size: 1.5em;
    margin-left: 10px;
    max-width: 200px;
    margin: 0 auto;
}

#timeLeftContainer {
    color: #777;
}   

#timeLeftContainer.bg-danger {
    color: #fff;
}

@media screen and (max-width: 767px) {
    #selectQuiz {
        max-width: 100%;
        text-align: center;
    }
    .choice > button {
        width: 100%;
    }
}